<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>558747985668-qnvj3v7dk0dej3ps1bi29bbmg790j6lu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558747985668-qnvj3v7dk0dej3ps1bi29bbmg790j6lu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>558747985668-9ce22g39ljml36blm6csm2k4552695hu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDTsCJk-Q-quG30twprPqJtmO-qmnzltao</string>
	<key>GCM_SENDER_ID</key>
	<string>558747985668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.assemble.capitals</string>
	<key>PROJECT_ID</key>
	<string>sniffydonesocialize</string>
	<key>STORAGE_BUCKET</key>
	<string>sniffydonesocialize.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558747985668:ios:9e531f7185b07b79db9251</string>
	<key>DATABASE_URL</key>
	<string>https://sniffydonesocialize-default-rtdb.firebaseio.com</string>
</dict>
</plist>